.clothing-card {
  position: relative;
  display: flex;
  justify-content: center;
  height: 328px;
  width: 325px;
  
}

.clothing-card__name {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 287px;
  margin-left: 125px;
  margin-right: 125px;
  font-family: "CabinetGroteskRegular";
  border-radius: 4px;
  padding-top: 2px;
  padding-right: 12px;
  padding-bottom: 2px;
  padding-left: 12px;
  opacity: 60%;
}

.clothing-card__image {
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
