.clothing-card {
  position: relative;
  display: flex;
  justify-content: center;
  max-height: 328px;
  max-width: 325px;
}

.clothing-card__name {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 287px;
  margin-left: 125px;
  margin-right: 125px;
  font-family: "CabinetGroteskRegular";
  border-radius: 4px;
  padding-top: 2px;
  padding-right: 12px;
  padding-bottom: 2px;
  padding-left: 12px;
  opacity: 60%;
}

.clothing-card__image {
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 328px;
  width: 325px;
}

.clothing-card__like-button {
  background-image: url(/src/assets/Like\ button.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 21px;
  border: none;
  position: absolute;
  top: 15px;
  right: 76px;
  cursor: pointer;
}

.clothing-card__like-button_active {
  background-image: url(/src/assets/liked.svg);
}
