.clothes__section{
  width: 1016px;
  height: 700px;
}

.clothes-section__header {
  display: flex;
  margin-left: 40px;
}

.clothes-section__button {
  border: none;
  background: transparent;
  color: rgba(0, 0, 0, 0.6)
}

.clothes-section__list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
}
